<div>
  <h2>Nuevo diagnostico</h2>
  <form [formGroup]="diagnosticoForm" (ngSubmit)="submit()">

    <mat-form-field class="example-form-field" appearance="fill">
      <mat-label>Code</mat-label>
      <input matInput type="text"
      placeholder="Code"
      class="form-control"
      formControlName="code"

      >
       <button *ngIf="diagnosticoForm.controls['code'].value" matSuffix mat-icon-button aria-label="Clear" (click)="diagnosticoForm.patchValue({code:''})">
        <mat-icon>close</mat-icon>
      </button>
      <mat-error *ngIf="diagnosticoForm.controls['code'].errors">
        <ul>
          <li>
            <small *ngIf="diagnosticoForm.controls['code'].errors['required'] && showErrors">El campo es requerido</small>
          </li>
          <li>
            <small *ngIf="diagnosticoForm.controls['code'].errors['maxlength']">
              El campo no puede ser mayor que {{diagnosticoForm.controls['code'].errors['maxlength'].requiredLength}} y tienes {{diagnosticoForm.controls['code'].errors['maxlength'].actualLength}} caracteres
            </small>
          </li>
        </ul>
        Please enter a valid email address
      </mat-error>
    </mat-form-field>

    <!-- <div>
      Code *
      <input
        type="text"
        placeholder="Code"
        class="form-control"
        formControlName="code"
        [class.is-invalid] = "diagnosticoForm.controls['code'].errors && showErrors"
      >
      <div *ngIf="diagnosticoForm.controls['code'].errors ">
      <small *ngIf="diagnosticoForm.controls['code'].errors['required'] && showErrors">El campo es requerido</small>
      <small *ngIf="diagnosticoForm.controls['code'].errors['maxlength']">
        El campo no puede ser mayor que {{diagnosticoForm.controls['code'].errors['maxlength'].requiredLength}} y tienes {{diagnosticoForm.controls['code'].errors['maxlength'].actualLength}} caracteres
      </small>
    </div>
    </div> -->

    <div>
      Description
      <input
        type="text"
        placeholder="Description"
        class="form-control"
        formControlName="description"
      >
    </div>

    <div formGroupName="severity">
      <h3>Severity</h3>
      <div>
        Code
        <input
          type="text"
          placeholder="Description"
          class="form-control"
          formControlName="code"
        >
      </div>
      <div>
        Value
        <input
          type="text"
          placeholder="Value"
          class="form-control"
          formControlName="value"
        >
      </div>
    </div>

  <input type="submit" class="btn btn-primary" value="Save">

  </form>

</div>

<!-- patient
 {
   nombre:ldskj
   apellido:dskjf
   direccion: {
     calle: dfa
     cp: 34
   }
 } -->
